<div id="message-<%= message.id %>" class="mb-3 bg-light text-dark p-3 rounded message" style="width: 100%;">
  <small class="text-muted">
    <% if message.user.teacher? %>
    <%# only teacher can see users names in chat %>
      <strong><%= message.user.first_name %></strong>
    <% end %>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="mb-0 text-dark"><br><%= message.content %></p>
</div>
<style>
  .text-muted{
    width:100vh;
  }
</style>
