<div id="message-<%= message.id %>" style="width: 100%;">
  <br>
  <small class="text-muted">
    <% if current_user.teacher? %>
      <strong><%= message.user.first_name %></strong>
    <% elsif message.user.teacher? %>
      <strong style="color: orange;">Teacher</strong> <!-- Display a generic label for non-teacher users -->
    <% end %>
  </small>
  <p class="messige mb-0 text-dark"><br><%= message.content %></p>
  <br>
  <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
</div>
