<div class="classroomindex" >
<h1 class="classs2">My Classrooms</h1>

  <% if @classrooms.any? %>
    <div class="allclasses">
      <% if current_user.teacher? %>
        <div class="createclass">
          <div class="classroombox addclassroom">
            <%= link_to new_classroom_path do %>
              <i class="fas fa-plus"></i> New Classroom
            <% end %>
          </div>
        </div>
      <% end %>

      <% @classrooms.each do |classroom| %>
        <div class="classroombox">
          <div class="classinfo1">
            <img class="classimg" src="https://www.thoughtco.com/thmb/MbIK8VYZIuh5AUctOSpqh-q4Dyg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-846997320-9ebc9320dd0e4d9aad3cb2a0dafbb8b4.jpg" alt="#">
            <%= link_to classroom.name, classroom_lessons_path(classroom) %>
          </div>

          <!-- Three dots dropdown container -->
          <div class="dropdown-container">
            <!-- Three dots icon (you can replace this with your own icon) -->
            <div class="dropdown-icon" onclick="toggleDropdown(this)">&#8226;&#8226;&#8226;</div>
            <!-- Dropdown content (Edit and Delete) -->
            <div class="dropdown-content">
              <span class="dropdown-item">Edit</span>
              <span class="dropdown-item">Delete</span>
              <span class="dropdown-item">invite</span>
            </div>
          </div>
          <!-- End dropdown -->
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No classrooms found.</p>
  <% end %>
</div>
