<!-- app/views/classrooms/index.html.erb -->
<h1>Your Classrooms</h1>
<ul>
  <% @classrooms.each do |classroom| %>
    <li><%= link_to classroom.name, classroom_path(classroom) %></li>
  <% end %>
</ul>
