<h1>New Classroom</h1>

<%= form_with(model: @classroom, url: classrooms_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit 'Create Classroom' %>
<% end %>
