<!-- app/views/classrooms/new.html.erb -->

<h1>Create a New Classroom</h1>

<%= form_for @classroom do |f| %>
  <!-- Add form fields for classroom attributes -->
  <%= f.label :name %>
  <%= f.text_field :name %>

  <!-- Add other attributes as needed -->

  <%= f.submit 'Create Classroom' %>
<% end %>
