.lessonsindexpage{
  width: 95%;
  margin-top: 50px;
  margin: 0 auto;
  padding-top: 50px;
}
.index-container {
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
  // width: 95%; /* Adjusted to 100% for full-width container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 5px;


}


.container-card:hover {
  transform: scale(1.02);
}

.my-lessons-index {
  display: flex;
  justify-content: space-evenly;
  max-width: 80%;
}

.your-lessons {
  color: #2e3c68ba;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 40px;

}

.container-card {
  box-shadow: 0 3px 6px rgba(0, 17, 166, 0.391);
  height: 260px;
  width: 330px;
  background-color: #2e3c68;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;

}

.content-card {
  margin: 0.5rem;
}

.lesson-img {
  border-radius: 15px;
  width: 19rem;
  height: 160px;
}


.today{
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(255, 25, 0);
  border: none;

}

.lesson-name {
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
}

.average-chart {
  width: 50%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.lesson-form {
  max-width: 400px;
  margin: 0 auto;
}

.lesson-form-group {
  margin-bottom: 20px;
  margin-top: 8px;
}

.form-control{
  margin-top: 10px;
  margin-bottom: 8px;
}

.form-control-instruction {
  color: rgb(168, 168, 168);
}


.btn-lesson {
  background-color: #004080;
  border-color: #004080;
  color: white;
  border-radius: 10px;
}

.btn-lesson:hover {
  background-color: #003973;
  border-color: #003973;
  color: rgb(234, 233, 233);
}
.new-lesson-button{
  margin-top: 30px;
  // font-size: 17px;
  // background-color: gray;
  width: 80%;
  height: 90%;
}

.lesson-switcher {
  display: flex;
}

.lesson-switcher-slider{
 margin-bottom: 8px;
}

.kinesthetic-preview {
  color: rgb(236, 235, 235);
  padding: 5%;
}

.reading-preview {
  color: rgb(236, 235, 235);
}
