.index-container {
  margin: 0 auto;
  display: grid; // Switch to grid display
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // This will create as many 300px columns as can fit
  gap: 1rem; // This will create a gap between grid items
  text-decoration: none;
  max-width: 97%;
}


.container-card:hover {
  transform: scale(1.02);
}

.new-lesson {
  border-radius: 10px;
  background-color: #004080;
  border: 1px solid #004080;
  color: white;
  padding: 8px;
}

.my-lessons-index {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
}

.your-lessons {
  color: #2e3c68ba;
  font-size: 2rem;
  margin-left: 3.5rem;

}

.container-card {
  box-shadow: 0 3px 6px rgba(0, 17, 166, 0.391);
  height: 19rem;
  width: 320px;
  background-color: #2e3c68;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.content-card {
  margin: 0.5rem;
}

.lesson-img {
  border-radius: 15px;
  width: 19rem;
  height: 180px;
}


.today{
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(255, 25, 0);
  border: none;

}

.lesson-name {
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
}

.average-chart {
  width: 50%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.lesson-form {
  max-width: 400px;
  margin: 0 auto;
}

.lesson-form-group {
  margin-bottom: 20px;
  margin-top: 8px;
}

.form-control{
  margin-top: 10px;
  margin-bottom: 8px;
}

.form-control-instruction {
  color: rgb(168, 168, 168);
}


.btn-lesson {
  background-color: #004080;
  border-color: #004080;
  color: white;
  border-radius: 10px;
}

.btn-lesson:hover {
  background-color: #003973;
  border-color: #003973;
  color: rgb(234, 233, 233);
}

.lesson-switcher {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 67%;
}

.lesson-switcher-slider{
 margin-bottom: 8px;
}
