.lessonsindexpage{
  width: 85%;
  margin-top: 50px;
  margin: 0 auto;
  padding-top: 50px;
  // @media (min-width: 1475px) {
  //   width: 95%; /* Override width for screens wider than 1200px */
  //   max-width: none; /* Remove the maximum width for screens wider than 1200px */
  // }

}
.index-container {
  margin: 0 auto;
  // background-color: gray;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 15px;
  padding: 10px;

}


.container-card:hover {
  transform: scale(1.02);
}

.my-lessons-index {
  display: flex;
  justify-content: space-evenly;
  max-width: 80%;
}

.your-lessons {
  color: #2e3c68ba;
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 40px;

}

.container-card {
  box-shadow: 0 3px 6px rgba(0, 17, 166, 0.391);
  height: 260px;
  width: 330px;
  background-color: #2e3c68;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

.container-card-info p {
  color: white;
  margin-left: 16px;
}

.lesson-date {
  color: white;
  margin-left: 16px;
}

.content-card {
  margin: 0.5rem;
}

.lesson-img {
  border-radius: 15px;
  width: 19rem;
  height: 160px;
}


.today{
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(255, 25, 0);
  border: none;

}

.lesson-name {
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
}

.average-chart {
  width: 50%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.lesson-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.lesson-form-group {
  margin-bottom: 25px;
}

.form-control,
.form-control-content {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px;
  border-radius: 4px;
}

.form-control-instruction {
  color: rgb(120, 120, 120);
  font-size: 0.9rem;
  margin-top: 5px;
}

.form-control-content {
  height: 400px;
}


.btn-lesson {
  background-color: #004080;
  border-color: #004080;
  color: white;
  border-radius: 10px;
}

.btn-lesson:hover {
  background-color: #003973;
  border-color: #003973;
  color: rgb(234, 233, 233);
}
.new-lesson-button{
  margin-top: 30px;
  // font-size: 17px;
  // background-color: gray;
  width: 80%;
  height: 90%;
}

.lesson-switcher {
  display: flex;
}

.lesson-switcher-slider{
 margin-bottom: 8px;
}

.kinesthetic-preview {
  color: rgb(236, 235, 235);
  padding: 5%;
}

.reading-preview {
  color: rgb(236, 235, 235);
}



// lessons styling for chat
em {
  /* Your styles here */
  color: blue; /* Change color to your preference */
  font-weight: bold; /* Add or change styles as needed */
}
