.lesson-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.lesson-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  width: 45rem;
  height: 25rem;
  border-radius: 2rem;
  background-color: #052c65;
}

.filter-icons {
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 10px 10px 18px -6px rgba(0,0,0,0.75);
  margin-bottom: 1rem;
}

.lesson-tabs {
  width: 7rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.header {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}



.teacher-container {
  overflow: hidden;
  height: 3.5rem;
  background: white;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.teacher-container img {
  height: 100%;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 100%;
}

.teacher-container h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.teacher-container p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.teacher-container .teacher-container-infos {
  padding: 16px;
}

.student-container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.student-avatars .studentimg {
  display: inline-flex;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 100%;
}


.pdf-download {
  margin: 1rem;
}

.reading-preview {
  margin: 1rem;
}


