<div class="student-profiles">

  <div class="learning-style">
    <%= @user.learning_style.capitalize %>
  </div>

  <div class="profile-card">
    <img src="" alt="avatar-large">
    <div class="profile-card-content">
      <div class=class="profile-content-info">
        <h1><%= @user.full_name %>'s Profile</h1>
      </div>
      <button type="button" class="btn btn-light rounded" style="width: 162px;">vark test</button>
    </div>
  </div>

  <div class="profile-lesson">
    <% if @lessons_with_scores.any? %>
      <table>
        <thead>
          <tr>
            <th class="lesson-name-header">Lesson Name</th>
            <th class="quiz-score-header">Quiz Score</th>
          </tr>
        </thead>
        <tbody>
          <% @lessons_with_scores.each do |lesson_with_score| %>
            <tr>
              <td class="lesson-name-cell"><%= lesson_with_score[:lesson].title %></td>
              <td class="quiz-score-cell"><%= lesson_with_score[:quiz_score] %> / 5</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>This user has no lessons.</p>
    <% end %>
  </div>
</div>
