<div class="user-profile">
  <div class="user-details">
    <h2><%= @user.first_name %>'s Profile</h2>
    <p><strong>Preferred Learning Style:</strong> <%= @user.learning_style %></p>
  </div>

  <% @quiz_scores.each do |quiz_score| %>
    <div class="lesson-quiz-results">
      <h3>Lesson: <%= quiz_score[:lesson].title %></h3>
      <p>Quiz Score: <%= quiz_score[:score] %> out of 5</p>
    </div>
  <% end %>
</div>
