<div data-controller="vark" class="page-container">

  <h2 class="vark-headers" id="remaining">Questions Remaining</h2>

  <div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <h2 class="vark-headers" id="question">Question Text</h2>
      <ul class="vark-choice-container">
        <li class="vark-choice">
          <input type="radio" name="answer" id="a" class="answer">
          <label for="a" id="a_text" class="vark-label">Answer</label>
        </li>

        <li class="vark-choice">
          <input type="radio" name="answer" id="b" class="answer">
          <label for="b" id="b_text" class="vark-label">Answer</label>
        </li>

        <li class="vark-choice">
          <input type="radio" name="answer" id="c" class="answer">
          <label for="c" id="c_text" class="vark-label">Answer</label>
        </li>

        <li class="vark-choice">
          <input type="radio" name="answer" id="d" class="answer">
          <label for="d" id="d_text" class="vark-label">Answer</label>
        </li>

      </ul>
    </div>

    <button id="submit" class="vark-button">Submit</button>

  </div>

</div>
