* {
  font-family: Poppins, sans-serif;
}

.response-columns {
  display: grid; // Switch to grid display
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // This will create as many 300px columns as can fit
  gap: 1rem;
}

.response-column {
  flex: 0 0 calc(33.333% - 20px); // Subtract the gap size to account for spacing
  max-width: calc(33.333% - 20px);
}

.score  {
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.score h1{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.response-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.response-image {
  stroke-width: 9px;
  border-radius: 50%;
  display: flex;
  flex-basis: 0%;
  justify-content: center;
  align-items: center;
  padding: 8px 5px 8px 8px;
  object-fit: auto;
  object-position: center;
}

.response-img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 72px; // Adjust as needed
  border-radius: 50%;
  margin: auto; // Centers the image within its container
  display: block;
  position: relative; // For border positioning
  border: 3px solid transparent; // Thicker border
  background: white; // Or any color that matches the page background
  padding: 3px; // Space between image and border
}

.response-list-content {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  font-family: Poppins, sans-serif;

}
.response-list-name {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  font-weight: 400;
  color: #828282;
  font-family: Poppins, sans-serif;

}

.response-list-answer {
  color: #000;
  margin-top: 7px;
  font: 500 16px Poppins, sans-serif;
}



// .input-group .form-control {
//   border-radius: 20px;
// }

// Below is code for the search bar / eliminated for now
//Vars
// :root {
//   --rad: .7rem;
//   --dur: .3s;
//   --color-dark: #2f2f2f;
//   --color-light: #fff;
//   --color-brand: #57bd84;
//   --font-fam: 'Lato', sans-serif;
//   --height: 5rem;
//   --btn-width: 6rem;
//   --bez: cubic-bezier(0, 0, 0.43, 1.49);
// }

// Form styles -
// form {
//   position: relative;
//   width: 60%;
//   background: var(--color-brand);
//   border-radius: var(--rad);
// }
// input, button {
//   height: var(--height);
//   font-family: var(--font-fam);
//   border: 0;
//   color: var(--color-dark);
//   font-size: 1.8rem;
// }
// input[type="search"] {
//   outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
//   width: 100%;
//   background: var(--color-light);
//   padding: 0 1.6rem;
//   border-radius: var(--rad);
//   appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
//   transition: all var(--dur) var(--bez);
//   transition-property: width, border-radius;
//   z-index: 1;
//   position: relative;
// }
// button {
//   display: none; // prevent being able to tab to it
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: var(--btn-width);
//   font-weight: bold;
//   background: var(--color-brand);
//   border-radius: 0 var(--rad) var(--rad) 0;
// }
// input:not(:placeholder-shown) {
//   border-radius: var(--rad) 0 0 var(--rad);
//   width: calc(100% - var(--btn-width));
//   + button {
//     display: block;
//   }
// }
// label {
//   position: absolute;
//   clip: rect(1px, 1px, 1px, 1px);
//   padding: 0;
//   border: 0;
//   height: 1px;
//   width: 1px;
//   overflow: hidden;
// }
