<div class="score">
  <h1 class="quiz-title m-3">Quiz Results for <%= @lesson.title %></h1>

  <div class="average-chart w-100">
    <%= line_chart @chart_data_all.map { |style|
      {name: style[:name], data: style[:data]}
    } %>
  </div>

  <div class="response-columns">
    <%# Student Index Iteration with Pop-Ups %>
    <%= render "stdPopUpRes", student_scores: @student_scores %>
  </div>
</div>

<%# Search Function eliminated, may be used for later %>
<%# <form onsubmit="event.preventDefault();" role="search">
    <label for="search">Search for stuff</label>
    <input id="search" type="search" placeholder="Search..." autofocus required />
    <button type="submit">Go</button>
  </form> %>
