<h2 class="text-primary fs-2 m-3">Aural Lesson Content</h2>

<div class="sound-container">
  <div class="sound-card">
    <% @aural.files.each do |audio| %>
      <%= audio_tag(url_for(audio), controls:"", class:"sound-bar") %>
    <% end %>
  </div>
</div>
