<div class="reading-container">
  <div class="reading-content">
    <div class="pdf-download">
      <i class="fa-regular fa-file-pdf" style="color: #74C0FC;">
        <%= link_to 'Download as PDF', download_pdf_lesson_path(@lesson) %>
      </i>
    </div>
    <div class="reading-preview">
      <%= render "reading_content", reading: @supplementaryReading %>
    </div>
  </div>
  <div class="reading-link">
    <% if @supplementaryReading&.files&.attached? %>
      <% @supplementaryReading.files.each do |pdf| %>
        <%= image_tag "download_icon2.jpg", class: "download-icon" %>
        <%= link_to pdf.filename, url_for(pdf), class: "message-file" %>
      <% end %>
    <% end %>
  </div>
</div>
