<div class="reveal" data-controller="slides">
  <div class="slides">
    <% if visual.images.attached? %>
      <% visual.images.each do |image| %>
        <section data-background-image="<%= url_for(image) %>">
        </section>
      <% end %>
    <% end %>
    <section data-markdown>
      <textarea data-template>
        <%= visual.content %>
      </textarea>
    </section>
  </div>
</div>
