<div class="video-card">
  <div class="kinesthetic-content">
    <% if @supplementaryKinesthetic&.files&.attached? %>
      <div class="kinesthetic-preview">
        <% @supplementaryKinesthetic.files.each do |video| %>
          <%= cl_video_tag video.key, controls:"", class:"sound-bar" %>
        <% end %>
      </div>
    <% elsif @supplementaryKinesthetic&.content.present? %>
      <div class="kinesthetic-preview">
        <%= render "kinesthetic_content", kinesthetic: @supplementaryKinesthetic %>
      </div>
    <% else %>
      <p>No kinesthetic supplementary aids are available for this lesson.</p>
    <% end %>
  </div>
</div>
