<h1 class="text-light fs-1">Lessons Index</h1>


<ul>
  <% @lessons.each do |lesson| %>
    <%= link_to lesson_path(lesson) do %>
      <li class="text-light fs-2"><%= lesson.title %></li>
    <% end %>
  <% end %>
</ul>
