<h1 class="text-light fs-1">Test Show</h1>

<br>

<h2 class="text-light fs-2"><%= @lesson.title %></h2>

<br>

<h2 class="text-light fs-2">Visual Lesson Content</h2>
<% @visual.files.each do |slide| %>
  <li><%= image_tag slide, alt: "Visual Slide", class: "img-fluid" %></li>
<% end %>

<br>

<h2 class="text-light fs-2">Aural Lesson Content</h2>
<br>
<% @aural.files.each do |audio| %>
  <li><%= audio_tag(url_for(audio), controls:"") %></li>
<% end %>
