.sound-container {
 width: 700px;
  border-radius: 2rem;
  background-image: asset-url("lessons/lesson1.jpg");
}

.sound-bar {
  width: 90%;
  height: 25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
