.sound-container {
  width: 55vw;
  height: 67vh;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
  background-image: asset-url("lessons/lesson1.jpg");
}

.sound-bar {
  width: 90%;
  height: 25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
