.video-card {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
  border-radius: 2rem;
}

.vid-display {
  height: 23rem;
}
