.video-card {
  background-color: purple;
  border-radius: 2rem;
  width: 70%;
  height: 25rem;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.vid-display {
  height: 90%;
}
