.reading-container {
  display: flex;
  flex-direction: row;
  width: 55vw;
  height: 67vh;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
  border-radius: 2rem;
}

.preview-img {
  width: auto;
  height: 23rem;
}

.download-icon {
  border-radius: 100%;
}

.reading-link {
  display: flex;
  flex-direction: column;
}
