.nav-tabs {
  margin-left: 2rem;
}

.nav-item {
  margin-bottom: 2rem;
}

.tab-content {
  background-color: #052c65;
  border-radius: 2rem;
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
}
