.modal-content {
  border-radius: 2rem;
}

.modal-header {
  background-color: #26325A;
  color: white;
}

.modal-body {
  background-color: #26325A;
}

.modal-footer {
  background-color: #26325A;
}

.student-chart {
  background-color: white;
  border-radius: 0.5rem;
}
