/* app/assets/stylesheets/users.scss */

.user-profile {
  display: flex;
  flex-direction: column;
  /* Add more styles here */
}

.user-details {
}

.lesson-quiz-results {
}

.lesson-name-header, .quiz-score-header {
  padding-right: 20px; /* Adjust the space as needed */
}

.lesson-name-cell, .quiz-score-cell {
  padding-right: 20px; /* Adjust the space as needed */
}
